
    <!-- Footer -->
    <footer>

        <div class="footer-container">
        
            <div class="container one">
             <h3>OTHER</h3> 
             <p> <a href="../routes/partials/generic.ejs"  class="aob">About</a> </p>
             <br>
             <p> <a href="../routes/partials/generic.ejs" class="aob">Contact</a>  </p>
             <br>
             <p> <a href="../routes/partials/generic.ejs" class="aob">Partners</a>  </p>
         
            </div>
        
            <div class="container two">
        <h3>NEWSLETTER</h3>
                <form action="/newsletter" method="post">
                    <input type="email" placeholder="Enter your e-mail">
                    <!--Can google allow me see your name in e-mail such that I don't ask?-->
                </form>
                <br>
                <button type="submit" id="sub">SUBSCRIBE</button>
                <br>
                <br>
                <h4>©️ Copyright <script>document.write(new Date().getFullYear());</script></h4>

            </div>
            <div class="container three">
                <h3>FIND US</h3>
                <p>
                    4502, Maple Street <br>
                    Los Angeles, CA 90001</p>
                    <br>
        <a href="../Server/auth.js" class="fa fa-facebook"></a>
        <a href="../Server/auth.js" class="fa fa-instagram"></a>
        <a href="../Server/auth.js" class="fa fa-twitter"></a>

            </div>
        
        </div>

    </footer>
