<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

    <!-- Footer -->
    <footer>

        <div class="footer-container">
        
            <div class="container one">
             <h3>OTHER</h3> 
             <p> <a href="/generic"  class="aob">About</a> </p>
             <br>
             <p> <a href="/generic" class="aob">Contact</a>  </p>
             <br>
             <p> <a href="/generic" class="aob">Partners</a>  </p>
         
            </div>
        
            <div class="container two">
        <h3>NEWSLETTER</h3>
                <form action="/newsletter" method="post" autocomplete="off">
                    <input type="email" placeholder="Enter your e-mail">
                    <!--Can google allow me see your name in e-mail such that I don't ask?-->
                </form>
                <br>
                <button type="submit" id="sub">SUBSCRIBE</button>
                <br>
                <br>
                <h4>©️ Copyright <script>document.write(new Date().getFullYear());</script></h4>

            </div>
            <div class="container three">
                <address>
                <h3>FIND US</h3>
                <p>
                    4502, Maple Street <br>
                    Los Angeles, CA 90001</p>
                    <br>
                    </address>
        <a href="/login" class="fa fa-facebook"></a>
        <a href="/login" class="fa fa-instagram"></a>
        <a href="/login" class="fa fa-twitter"></a>

            </div>
        
        </div>

    </footer>



    <script src="/js/main.js"></script>
    </body>

</html>