<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeDex Blog</title>
    
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<!-- hr navbar -->
<header>
<div class="nav">

  <div class="hamburger-contents">
      <ul>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Sport</a>
          <div class="dropdown-content">
              <a href="/generic">WWE</a>
              <a href="/generic">UCL</a>
              <a href="/generic">NFL</a>
              <a href="/generic">NBA</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Business</a>
          <div class="dropdown-content">
              <a href="/generic">Bitcoin</a>
              <a href="/generic">Stocks</a>
              <a href="/generic">Forex</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Politics</a>
          <div class="dropdown-content">
              <a href="/generic">U.S Election</a>
              <a href="/generic">Ukraine x Russia</a>
              <a href="/generic">Kenya 2027</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Pop Culture</a>
          <div class="dropdown-content">
              <a href="/generic">Music industry</a>
              <a href="/generic">Hollywood</a>
              <a href="/generic">Nollywood</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Technology</a>
          <div class="dropdown-content">
              <a href="/generic">A.I</a>
              <a href="/generic">Space Exploration</a>
              <a href="/generic">Robotics</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Chess</a>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Today in History</a>
      </li>            
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Science</a>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Fitness</a>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Fashion</a>
      </li>
      <li class="dropdown">
          <a href="/generic" class="dropbtn">Travel</a>
      </li>
      </ul>

  <hr>
  </div>

  <!--Trends, client posts-->
<div id="trends-posts">

<a href="/trends">
    <div id="trends">
       <button>TRENDS</button>
    </div>
</a>

    <a href="/posts">
    <div id="clientPosts">
        <button>MY POSTS</button>
    </div>
    </a>

    <a href="/home">
        <div id="homePage">
            <button>HOME</button>
        </div>
     </a>

</div>

    <% if (isAuthenticated) { %>
      <a href="/logout" id="logout"><button type="submit">Log Out</button></a>
    <% } else { %>
      <div id="btn-container">
        <a href="/login"><button id="log-in">Log In</button></a>
        <a href="/register"><button id="sign-up">Sign Up</button></a>
      </div>
    <% } %>
  </header>
  

<!-- Generic text logo of blog -->
<div class="logo">    
    <h1>
<span style="color: red;">T</span><span style="color: gray;">e</span><span style="color: limegreen;">D</span><span style="color: gray">e</span><span style="color: red;">X</span>
 Blog
    </h1>
    <% if (registeredName) { %>
        <h2 id="welcome">Hi <%= registeredName %>, welcome to your posts!</h2>
    <% } else { %>
        <h2 id="welcome">Welcome to your posts!</h2>
    <% } %>    
    
</div>