  <!-- hr navbar -->
 <div class="nav">

  <div class="hamburger-contents">
      <ul>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Sport</a>
          <div class="dropdown-content">
              <a href="#">WWE</a>
              <a href="#">UCL</a>
              <a href="#">NFL</a>
              <a href="#">NBA</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Business</a>
          <div class="dropdown-content">
              <a href="#">Bitcoin</a>
              <a href="#">Stocks</a>
              <a href="#">Forex</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Politics</a>
          <div class="dropdown-content">
              <a href="#">U.S Election</a>
              <a href="#">Ukraine x Russia</a>
              <a href="#">Kenya 2027</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Pop Culture</a>
          <div class="dropdown-content">
              <a href="#">Music industry</a>
              <a href="#">Hollywood</a>
              <a href="#">Nollywood</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Technology</a>
          <div class="dropdown-content">
              <a href="#">A.I</a>
              <a href="#">Space Exploration</a>
              <a href="#">Robotics</a>
          </div>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Chess</a>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Today in History</a>
      </li>            
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Science</a>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Fitness</a>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Fashion</a>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Travel</a>
      </li>
      <li class="dropdown">
          <a href="../Server/big6.j../routes/partials/generic.ejs" class="dropbtn">Lifestyle</a>
      </li>
      </ul>

  <hr>
  </div>
                  <!-- Login and Sign Up Buttons -->
                  <div id="btn-container">
                      <a href="../routes/login.ejs"><button id="log-in">Log In</button></a>  
                      <a href="../routes/register.ejs"><button id="sign-up">Sign Up</button></a>     
                  </div>  
</div> 
</div>

<!-- Generic text logo of blog llc -->
<div class="logo">    
<h1>
<span style="color: red;">T</span><span style="color: gray;">e</span><span style="color: limegreen;">D</span><span style="color: gray">e</span><span style="color: red;">X</span>
Blog
</h1>
</div>
