<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeDex Blog</title>
    
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<!-- hr navbar -->
<header>
    <a href="#main-content" class="skip-link">Skip to main content</a>

    <button id="open-sidebar-button" onclick="openSidebar()" aria-label="open sidebar" aria-expanded="false" aria-controls="navbar">
        ≡
    </button>

    <nav id="navbar">
        <ul>
            <li><button id="close-sidebar-button" onclick="closeSidebar()" aria-label="close sidebar">X</button></li>
            <li class="home-li"><a class="active-link" aria-current="page" href="/home">
                <div id="homePage">
                    HOME
                </div>
             </a>
            </li>
            
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Business</a>
                <div class="dropdown-content">
                    <a href="/generic">Bitcoin</a>
                    <a href="/generic">Stocks</a>
                    <a href="/generic">Forex</a>
                </div>
            </li>
            
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Politics</a>
                <div class="dropdown-content">
                    <a href="/generic">U.S Election</a>
                    <a href="/generic">Ukraine x Russia</a>
                    <a href="/generic">Kenya 2027</a>
                </div>
            </li>
            
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Pop Culture</a>
                <div class="dropdown-content">
                    <a href="/generic">Music industry</a>
                    <a href="/generic">Hollywood</a>
                    <a href="/generic">Nollywood</a>
                </div>
            </li>
            
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Technology</a>
                <div class="dropdown-content">
                    <a href="/generic">A.I</a>
                    <a href="/generic">Space Exploration</a>
                    <a href="/generic">Robotics</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Chess</a>
            </li>
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Today in History</a>
            </li>        
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Science</a>
            </li>
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Fashion</a>
            </li>
            <li class="dropdown">
                <a href="/generic" class="dropbtn">Travel</a>
            </li>
      
     <li class="dropdown">
          <a href="/generic" class="dropbtn">Sport</a>
          <div class="dropdown-content">
              <a href="/generic">WWE</a>
              <a href="/generic">UCL</a>
              <a href="/generic">NFL</a>
              <a href="/generic">NBA</a>
          </div>
      </li>

      <a href="/trends">
    <div id="trends">
        TRENDS
    </div>
    </a>
    
        <a href="/posts">
    <div id="clientPosts">
        MY POSTS
        </div>
        </a>
    
    </div>

      <% if (isAuthenticated) { %>
        <a href="/logout" id="logout">Log Out</a>
        <a href="/deleteUser" style="background-color: red; color: black;">Delete account</a>
      <% } else { %>
        <div id="btn-container">
            <li><a class="accent-link" href="/login" id="log-in">Log In</a></li>
            <li><a class="accent-link" href="/register"id="sign-up">Sign Up</a></li>
        </div>
            <% } %>
        </ul>

    </nav>
</header>
    <div id="overlay" onclick="closeSidebar()" aria-hidden="true"></div>

<!-- Generic text logo of blog -->
<div class="logo">    
    <h1>
<span style="color: red;">T</span><span style="color: gray;">e</span><span style="color: limegreen;">D</span><span style="color: gray">e</span><span style="color: red;">X</span>
 Blog
    </h1>
    
</div>
