<head>
  <link rel="stylesheet" href="/css/generic.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%- include('../partials/header') %>
</head>

<div class="moreComingSoon">
  <hr />
  <h5>Top 10 Largest European Stadiums</h5>
  <hr />
  <h6>
    By Scott Birmingham | 1 min read <br />Sunday | 9<sup>th</sup> Feb, 2024
  </h6>
  <p>
    European stadiums are architectural marvels that house thrilling sports
    events and concerts. Here are the 10 largest stadiums by capacity:
    <br />
    Camp Nou (Spain) – FC Barcelona’s home stadium, seating 99,354 fans.<br />
    Wembley Stadium (England) – A historic arena with a capacity of 90,000.<br />
    Croke Park (Ireland) – The heart of Gaelic sports, seating 82,300.<br />
    Signal Iduna Park (Germany) – Borussia Dortmund’s home with 81,365 seats.<br />
    Santiago Bernabéu (Spain) – Real Madrid’s iconic 81,044-seat stadium.<br />
    San Siro (Italy) – Shared by AC Milan and Inter, hosting 80,018 fans.<br />
    Stade de France (France) – The national stadium with 80,000 capacity.<br />
    Atatürk Olympic Stadium (Turkey) – A modern marvel with 76,092 seats.<br />
    Old Trafford (England) – Home to Manchester United, seating 74,310.<br />
    Luzhniki Stadium (Russia) – A host of international events, seating
    81,000.<br />
    These venues are not just about size—they’re iconic landmarks that showcase
    European culture and sportsmanship.
  </p>
</div>

<%- include('../partials/footer.ejs') %>
