<head>
  <link rel="stylesheet" href="/css/generic.css" />
  <%- include('partials/header') %>
</head>
<div class="moreComingSoon">
  <h2>About Us</h2>
  <hr />
  <p>
    Welcome to our blog! <br />
    We're passionate about sharing stories, insights, and knowledge that
    inspire, inform, and entertain. Whether it's exploring new ideas, diving
    into trending topics, or celebrating everyday moments, our mission is to
    create a space where curiosity meets creativity.
    <br />
    At the heart of our content is a dedication to authenticity and community.
    We believe in the power of words to connect people, spark conversations, and
    make a difference. Here, you'll find a diverse range of articles tailored to
    spark your interest and enrich your perspective.
    <br />
    Thank you for being part of our journey. <br />Together, let's learn, grow,
    and explore one blog post at a time!
  </p>
</div>

<%- include('partials/footer') %>
