<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/resetPass.css" />
    <%- include('partials/header') %>
  </head>
  <body>
    <h2>Forgot Password</h2>
    <form action="/reset-password-request" method="POST">
      <input
        type="email"
        id="email"
        name="email"
        required
        placeholder="Enter your Registered email"
      />
      <button type="submit" id="requestReset">Request Reset</button>
    </form>
  </body>
</html>

<%- include('partials/footer.ejs') %>
