<head>
  <link rel="stylesheet" href="/css/generic.css" />
  <%- include('partials/header') %>
</head>

<div class="moreComingSoon">
  <h2>More content coming soon, stay tuned!</h2>
  <hr />
</div>

<%- include('partials/footer.ejs') %>
