<head>
    <link rel="stylesheet" href="/css/generic.css">
    <%- include('partials/header') %>
</head>


<div class="moreComingSoon">
    <h5>   
        More content coming soon, stay tuned!
    </h5>
    <hr>
</div>



<%- include('partials/footer.ejs') %>