<head>
  <link rel="stylesheet" href="/css/generic.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%- include('partials/header') %>
</head>

<div class="moreComingSoon">
  <h2>More content coming soon, stay tuned!</h2>
  <hr />
</div>

<%- include('partials/footer.ejs') %>
