<head>
  <link rel="stylesheet" href="/css/auth.css" />
  <%- include('partials/header') %>
</head>

<form action="/login" method="post" class="login" autocomplete="off">
  <div id="login-container">
    <b>E-mail</b>:
    <input type="email" required name="email" placeholder="Enter your e-mail" />
    <br />
    <br />
    <b>Password</b>:
    <input
      type="password"
      required
      name="password"
      placeholder="Enter your password"
    />
  </div>
  <br />
  <div class="rem-btn">
    <a href="/register"
      >Don't have an account? <br />
      Sign up <span id="here">here</span></a
    >
    <button type="submit">Log In!</button>
  </div>
</form>

<div class="third-party">
  <a href="/auth/google/">Log in with Google</a>
</div>
<br />
<br />

<%- include('partials/footer.ejs') %>
