<head>
    
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/auth.css">
    <%- include('partials/header') %>
</head>

<form action="/login" method="post" class="login" autocomplete="off">

    <div id="login-container">
     <b>E-mail</b>:
        <input type="email" required name="email" placeholder="Enter your e-mail">
        <br>
        <br>
     <b>Password</b>:
        <input type="password" required name="password" placeholder="Enter your password">
    </div>
        <br>
    <div class="rem-btn">
        
    <button type="submit">Log In!</button>
    </div>
   

</form>
