<% include('partials/header') %>

<form action="/Sign Up" method="post">
    <div id="form-container">
     <b>E-mail</b>
        <input type="email" required placeholder="Enter your e-mail">

     <b>Password</b>
        <input type="password" required placeholder="Enter your password">
        <button>Log In</button>
    </div>

</form>


<% include('partials/footer') %>
