<head>
    <link rel="stylesheet" href="/css/posts.css">
    <%- include('partials/header') %>
</head>

<div class="outer">
<!-- JUST INTEGRATE THE CRUD LOGIC  -->
</div>



<%- include('partials/footer.ejs') %>