<head>
    
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/auth.css">
    <%- include('partials/header') %>
</head>

<form action="/register" method="post" class="login" autocomplete="off">

    <div id="signup-container">
        <b>Name</b>:
        <input type="text" required name="username"placeholder="Enter your name">
        <br>
        <br>
     <b>E-mail</b>:
        <input type="email" required name="email" placeholder="Enter your e-mail">
        <br>
        <br>
     <b>Password</b>:
        <input type="password" required name="password" placeholder="Enter your password">
    </div><br>
    <div class="rem-btn">
    <button type="submit">Sign Up!</button>
</div>
</form>


