<head>
    <link rel="stylesheet" href="/css/styles.css">
    <%- include('partials/header') %>
</head>

<form action="/sign-up" method="post" class="sign-up
    <div id="form-container">
     <b>E-mail</b>
        <input type="email" required placeholder="Enter your e-mail">
<br>
     <b>Password</b>
        <input type="password" required placeholder="Enter your password">
        <button>Sign Up</button>
    </div>

</form>

