<!-- Integrate the newsAPI -->
<head>
    <link rel="stylesheet" href="/css/trends.css">
    <%- include('partials/header') %>
</head>
    <!-- News API posts to be here -->
     <div class="newsAPIposts">
        <div class="post 1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis enim quos accusamus est aut minus vel magni inventore earum facilis atque, ullam harum odio. Facere temporibus minima deserunt illo eveniet.</div>
        <div class="post 2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis enim quos accusamus est aut minus vel magni inventore earum facilis atque, ullam harum odio. Facere temporibus minima deserunt illo eveniet.</div>
        <div class="post 3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis enim quos accusamus est aut minus vel magni inventore earum facilis atque, ullam harum odio. Facere temporibus minima deserunt illo eveniet.</div>
        <div class="post 4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis enim quos accusamus est aut minus vel magni inventore earum facilis atque, ullam harum odio. Facere temporibus minima deserunt illo eveniet.</div>
        <div class="post 5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis enim quos accusamus est aut minus vel magni inventore earum facilis atque, ullam harum odio. Facere temporibus minima deserunt illo eveniet.</div>
        <div class="post 6">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis enim quos accusamus est aut minus vel magni inventore earum facilis atque, ullam harum odio. Facere temporibus minima deserunt illo eveniet.</div>
     </div>

    <!-- Banner -->
    <div class="banner">Coming in hot this week!</div>
    
<%- include('partials/footer.ejs') %>
