.login, .sign-up{
    display: flex;
    margin: auto;
  }
  
  #signup-container, #login-container{
    text-align: center;
  }
  
  #signup-container input, #login-container input{
    background-color: #E0E1E4;
    border-radius: 15px;
  }
  
  .rem-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.three > .fa{
  display: none;
}

.two > h3, form, button{
  display: none;
}

.nav > .hamburger-contents{
  display: none;
}

#clientPosts{
  display: none;
}

#log-in, #sign-up{
  display: none;
}

#trends{
  display: none;
}

#homePage{
  margin-left: 90vw !important;
}