.login, .sign-up{
    display: grid;
    margin: auto;
  }
  
  #signup-container, #login-container{
    text-align: center;
  }
  
  #signup-container input, #login-container input{
    background-color: #E0E1E4;
    border-radius: 15px;
  }
  
  .rem-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.three > .fa{
  display: none;
}

.two > h3, form, button{
  display: none;
}

#here{
  color: blue;
  text-decoration: underline;
}

#here:active{
  color: red;
}

#here:hover{
  color: lime;
}

form a{
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
}

button[type="submit"]{
  display: block;
}

#sub{
  display: none;
}
