/* Generic Articles with images */
.generic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin: 10%;
    margin-top: 0;
    text-align: center;
    letter-spacing: 0;
}

.generic img {
    height: 150px;
    width: 250px;
    border-radius: 15px;
    margin: 20px;
}

.item img:hover {
    cursor: pointer;
}

.item:hover {
  background-color: #E0E1E4;
  border-radius: 10px;
}
.item:active {
  background-color: #272727;
  border-radius: 10px;
  color: #E0E1E4;
}
/* Coming in hot banner */
.banner {
    position: fixed;
    margin: 30%;
    top: 0;
    left: -100%;
    background-color: #272727;
    border-radius: 15px;
    color: #E0E1E4;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    animation: slideIn 9s forwards;
    white-space: nowrap; /* Prevents breaking into multiple lines */
    overflow: hidden; /* Hides any overflowing text */
    z-index: 300; /* Place the banner above the image container */
  }
  
  @keyframes slideIn { 

  to {
    left: 100%;
  }
  }

/* IMAGE SLIDER */
.slider {
  position: relative;
  width: 100%;
  min-width: 75%;
  margin: auto;
  overflow: hidden; /* Ensure contents don't spill out */
  padding: 80px;
}

.image_container {
  position: relative;
  width: 100%;
  display: none; /* Hide all images by default */
}

.image_container.active {
  display: block; /* Show only the active image */
}

.image_container img {
  width: 100%;
  display: block;
  border-radius: 65px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px 65px 65px 100px; 
  overflow: hidden; /* Prevent text spilling */
}

.text {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%); /* Center inside the overlay */
  width: 90%; /* Ensure the text container doesn’t exceed image boundaries */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: larger;
  text-align: left; /* Default text alignment for paragraphs */
  width: 60%;
}

.text h2, .text h4 {
  text-align: right; /* Right align h2 and h4 */
}

.text p {
  text-align: left; /* Left align p */
}

@media (max-width: 768px) {
  .text {
    font-size: 14px; /* Adjust text size for smaller screens */
    width: 65%; /* Reduce width */
  }
}

.dot_container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  appearance: none;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.dot:checked {
  background-color: lime;
}

.dot:not(:checked) {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.6);
}

.dot:focus {
  outline: none;
}

.dot + .dot {
  margin-left: 5px;
}


#welcome{
  display: none;
}
